.login-box {
   display: flex;
   box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
   width: 100%;
   border-radius: 10px;
   background-color: #fff;
}

.background {
   border-radius: 10px 0 0 10px;
}

.login {
   background: url(../img/login.jpg) no-repeat center center;
   background-size: cover;
}

.form {
   padding: 3rem;

   & > div {
      padding: 2em 0;
   }
}

h1 {
   padding-bottom: 20px;
   font-size: 35px;
   letter-spacing: 1.4px;
   font-weight: 500;
}

label {
   font-size: 14px;
   font-weight: 300;
   margin-left: 5px;
}

.form-group,
.links,
.card {
   display: flex;
   flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
   width: 100%;
   font-weight: 300;
   font-size: 15px;
   border: 1px solid #d1d3e2;
   padding: 0.7em;
   border-radius: 8px;
   margin-bottom: 0.8rem;
}

input[type="submit"] {
   padding: 10px 20px;
   background-color: #70488b;
   border-color: #70488b;
   color: #fff;
   transition: .3s;
   cursor: pointer;
   margin-top: 20px;

   &:hover {
      background-color: transparent;
      color: #323232;
   }

   &:disabled {
      opacity: 0.8;

      &:hover {
         background-color: #70488b;
         color: #fff;
         cursor: not-allowed;
      }
   }
}

.remember {
   padding: 0.5em 0;
}

a {
   color: #70488b;
   text-decoration: none;
   font-weight: 300px;
   font-size: 14px;
   transition: .3s;
   padding: 9px 0;

   &:hover {
      opacity: 0.8;
   } 
}

.card {
   box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
   border-radius: 10px;
   align-items: center;
   background-color: #fff;

   img {
      max-width: 60%;
      margin: 5em 0;
   }

   a {
      color: #fff;
      background-color: #70488b;
      border: 1px solid #70488b;
      border-radius: 6px;
      cursor: pointer;
      padding: 15px 30px;
      transition: .3s;
      font-size: 16px;
      font-weight: 300;

      &:hover {
         background-color: transparent;
         color: #323232;
      }
   }

}

.forgot {
   background: url(../img/forgot.jpg) no-repeat center center;
   background-size: cover;
}